.problem_bold_text{
		font-size: 16px;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 4px;
		color: #222222;
		

	}
	.example_box{
		margin-bottom: 0px;

	}
	.input_box,.output_box{
		font-weight: bold;
	}
	.input_detail{
		background-color: #EFEFEF;
		color: #A1004A;
		font-size: 12px;
		border-width: 0px 1px 1px 1px;
	}
	.input_box{
		border: 1px solid #888888;
	}
	.output_box{
		border-width: 0px 1px 1px 1px;
	}
	.input_box,.output_box,.input_detail{
		padding: 4px 4px 4px 6px;
		border-style: solid;
		border-color: #888888;
	}

.dashboard_input_text_area{
		width: 100%;
		outline: none;
		height: 150px;
		border-radius: 1px;
		background-color: #F7F7F7;
		padding: 5px;
		resize: vertical;	
}

.dashboard_sidebar_li{
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	font-family: "Times New Roman", Times, serif;
}

.dashboard_sidebar_li:hover{
	background-color: #eeeeee;
	font-size: 15px;
}

.moderators_suggestion_li{
		padding: 5px;
		border: 1px solid #C2C7D0;
		border-width: 0px 1px 1px 1px;
		margin-top: 1px;
		width: 100%;
		font-size: 16px;
		cursor: pointer;
		border-radius: 0px;
}
	.moderators_suggestion_li:hover{
		background-color: #A0B4C3;
	}
	
	.moderators_suggestion_box{
		position: inherit;
		width: 100%;
		margin-top: -8px;
		border-radius: 0px;
	}
	.moderators_suggestion_li_img{
		height: 50px;
		width: 50px;
		margin-right: 5px;
	}