body{
	background-color: #F7F9FC;
}

td{
	
}

th{
	background-color: #F4F6F8;
}



table#datatable.dataTable tbody tr:hover {
  background-color: #F4F6F8;
  cursor: pointer;
}
 
table#datatable.dataTable tbody tr:hover > .sorting_1 {
  background-color: #F4F6F8;
}

.td1{
	background-color: #F4F6F8;
	font-weight: bold;
	border: 1px solid #DDDDDD;
	padding: 10px;
	text-align: center;
}
.td2{
	background-color: #ffffff;
	text-align: center;
	border: 1px solid #DDDDDD;
	padding: 5px;
}
